/* AboutMeCard.css */
.typing-effect {
  @apply font-mono text-sm inline-block border-r-2 border-transparent; /* Smaller text size */

  overflow: hidden; /* Hide overflow during animation */
  animation: typing 1s steps(80) 0.1s forwards, blink 0.75s step-end infinite; /* Typing + Blinking */
  display: inline-block;
  max-width: 100%; /* Allow wrapping once typing is done */
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* The text will fill the width of the container */
  }
}

/* Blinking cursor animation */
@keyframes blink {
  50% {
    border-color: transparent; /* Cursor disappears */
  }
}
